/* common */
/* small screen */
body {
	margin: 45px 20px;
	font-family: Georgia, "Hiragino Mincho ProN", serif;
	line-height: 1.8;

}

a {
	text-decoration: none;
	color: gray;
}


p {
	color: gray;
	font-size: 14px;
	margin: 0;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.95);
	text-align: center;
	padding: 64px;
	opacity: 0;
	/* pointer-eventsをnoneにすることで、下にある要素を選択できるようになる */
	pointer-events: none;
	transition: opacity .6s;
}
.overlay ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.overlay li {
	margin-top: 24px;
	opacity: 0;
	transform: translateY(16px);
	transition: opacity .3s, transform .3s;
}

.overlay.clicked {
	opacity: 1;	
	pointer-events: auto;
}

.overlay.clicked li {
	opacity: 1;
	transform: none;
}

.ham {
	position: fixed;
	right: 0;
	top: 5px;
	width: 40px;
	height: 40px;
  cursor: pointer;
}
.ham_line {
	position: absolute;
	left: 10px;
	width: 20px;
	height: 1px;
	background-color: #333333;
}
.ham_line1 {
	top: 10px;
	transition: 0.2s;
}
.ham_line2 {
	top: 18px;
	transition: 0.2s;
}
.ham_line3 {
	top: 26px;
	transition: 0.2s;
}
.clicked .ham_line1 {
	transform: rotate(45deg);
	top: 20px;
}
.clicked .ham_line2 {
	width: 0px;
}
.clicked .ham_line3 {
	transform: rotate(-45deg);
	top: 20px;
}

.title-box h1 {
	font-size: 30px;
	line-height: 1.4;
	margin: 40px auto 0;
}


.title-text {
	margin: 0 auto 55px;
}

.header-image {
	margin-bottom: 60px;
	margin-left: -20px;
	margin-right: -20px;
}

.topimg {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

.introduction {
	margin: 0px auto 55px;
}

.intro-text {
	font-size: 23px;
	line-height: 1.8;
}

.diary {
	margin-bottom: 65px;
}

.diary h2 {
	font-size: 18px;
	margin: 5px auto 25px;
}

.nextbtn {
	border: 1px solid gray;
	height: 42px;
	width: 75px;
	text-align: center;
	line-height: 45px;
	margin-bottom: 60px;
}

.profile {
	margin: 50px 0 20px;
	display: flex;
	width: 180px;
	justify-content: space-between;
}

.profile .photo {
	width: 100px;
	border-radius: 50%;
}

.bottom-contents {
	margin: 70px auto;
}

.bottom-contents h3 {
	margin: 25px auto;
	font-size: 11px;
}

.content {
	margin-bottom: 10px;
}

.content a {
	text-decoration: underline
}

.content a:hover {
	color: orange;
}

input {
	width: 300px;
	height: 35px;
	margin-bottom: 50px;
	padding: 0 5px;
}

/* large screen */
@media (min-width: 600px) {

}